---

### Data Understanding

With a substantial size of 6,019 entries, this dataset offers valuable insights for our analysis. It encompasses a range of features pertinent to the Kenyan automotive market. Below is a description of the dataset's columns:
#### Dataset Overview:
- **Source:** Kenyan Vehicle Listings
- **Total Rows:** 6,019
- **Total Columns:** 11

#### Column Details:

| **Column Name**       | **Description**                                              | **Data Type**    |
|------------------------|--------------------------------------------------------------|------------------|
| **No**                 | Unique identifier for each vehicle listing.                | Integer (int64)  |
| **Name**               | Model name of the vehicle.                                 | String (object)  |
| **Year**               | Year the vehicle was manufactured.                          | Integer (int64)  |
| **Kilometers_Driven**  | Total distance covered by the vehicle in kilometers.        | Integer (int64)  |
| **Fuel_Type**          | Type of fuel used by the vehicle (e.g., petrol, diesel).    | String (object)  |
| **Transmission**       | Transmission type of the vehicle (e.g., manual, automatic). | String (object)  |
| **Use**                | Intended use of the vehicle (e.g., personal, commercial).   | String (object)  |
| **Engine**             | Engine capacity or specification of the vehicle.           | String (object)  |
| **Power**              | Power output of the vehicleâ€™s engine, typically in horsepower. | String (object)  |
| **Seats**              | Number of seats available in the vehicle.                  | Integer (int64)  |
| **Car_price**          | Price of the vehicle listed in Kenyan Shillings.            | Float (float64)  |

---

In [4]:
pip install --upgrade pandas numpy openpyxl

Requirement already satisfied: pandas in c:\users\rion\anaconda3\envs\learn-env\lib\site-packages (2.0.3)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\rion\anaconda3\envs\learn-env\lib\site-packages (1.24.4)
Requirement already satisfied: openpyxl in c:\users\rion\anaconda3\envs\learn-env\lib\site-packages (3.0.5)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rion\anaconda3\envs\learn-env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rion\anaconda3\envs\learn-env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rion\anaconda3\envs\learn-env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: et-xmlfile in c:\users\rion\anaconda3\envs\learn-env\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: six>=1.5 in c:\users\rion\anaconda3\envs\learn-env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   -------------------------------------- 250.9/250.9 kB 440.0 kB/s eta 0:00:00
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.5
    Uninstalling openpyxl-3.0.5:
      Successfully uninstalled openpyxl-3.0.5
Successfully installed openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
## Importing Libraries

In [6]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading Data

In [17]:
class DataLoader:
    def __init__(self, file_path):
        self.file_path = file_path
    
    def load_data(self):
        try:
            df = pd.read_excel(self.file_path)
            return df
        except FileNotFoundError:
            print(f"File not found: {self.file_path}")
        except pd.errors.EmptyDataError:
            print("No data: File is empty")
        except ValueError:
            print("ValueError: Check the Excel file for potential issues")
        except Exception as e:
            print(f"An unexpected error occurred: {e}")

file_path = 'car_data.xlsx'
data_loader = DataLoader(file_path)
df = data_loader.load_data()

if df is not None:
    print(df.head())

   No                              Name  Year  Kilometers_Driven Fuel_Type  \
0   0            Maruti Wagon R LXI CNG  2010              72000       CNG
1   1  Hyundai Creta 1.6 CRDi SX Option  2015              41000    Diesel
2   2                      Honda Jazz V  2011              46000    Petrol
3   3                 Maruti Ertiga VDI  2012              87000    Diesel
4   4   Audi A4 New 2.0 TDI Multitronic  2013              40670    Diesel

  Transmission      Use   Engine      Power  Seats   Car_price
0       Manual  foreign   998 CC  58.16 bhp    5.0     292250.0
1       Manual  foreign  1582 CC  126.2 bhp    5.0    2087500.0
2       Manual  foreign  1199 CC   88.7 bhp    5.0     751500.0
3       Manual  foreign  1248 CC  88.76 bhp    7.0    1002000.0
4    Automatic    local  1968 CC  140.8 bhp    5.0    2962580.0

## Data Preparation

Next, we will get an overview of the dataset.

In [19]:
# preview the first five columns of the dataset
df.head()

,No,Name,Year,Kilometers_Driven,Fuel_Type,Transmission,Use,Engine,Power,Seats,Car_price
0,0,Maruti Wagon R LXI CNG,2010,72000,CNG,Manual,foreign,998 CC,58.16 bhp,5.0,292250.0
1,1,Hyundai Creta 1.6 CRDi SX Option,2015,41000,Diesel,Manual,foreign,1582 CC,126.2 bhp,5.0,2087500.0
2,2,Honda Jazz V,2011,46000,Petrol,Manual,foreign,1199 CC,88.7 bhp,5.0,751500.0
3,3,Maruti Ertiga VDI,2012,87000,Diesel,Manual,foreign,1248 CC,88.76 bhp,7.0,1002000.0
4,4,Audi A4 New 2.0 TDI Multitronic,2013,40670,Diesel,Automatic,local,1968 CC,140.8 bhp,5.0,2962580.0

In [18]:
# preview the last five columns of the dataset
df.tail()

,No,Name,Year,Kilometers_Driven,Fuel_Type,Transmission,Use,Engine,Power,Seats,Car_price
6014,6014,Maruti Swift VDI,2014,27365,Diesel,Manual,foreign,1248 CC,74 bhp,5.0,793250.0
6015,6015,Hyundai Xcent 1.1 CRDi S,2015,100000,Diesel,Manual,foreign,1120 CC,71 bhp,5.0,668000.0
6016,6016,Mahindra Xylo D4 BSIV,2012,55000,Diesel,Manual,local,2498 CC,112 bhp,8.0,484300.0
6017,6017,Maruti Wagon R VXI,2013,46000,Petrol,Manual,foreign,998 CC,67.1 bhp,5.0,442550.0
6018,6018,Chevrolet Beat Diesel,2011,47000,Diesel,Manual,foreign,936 CC,57.6 bhp,5.0,417500.0

In [20]:
# Check the number of rows in the DataFrame
num_rows = len(df)
print(f"The DataFrame has {num_rows} rows.")

The DataFrame has 6019 rows.

In [21]:
#view the column names
df.columns

Index(['No', 'Name', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission',
       'Use', 'Engine', 'Power', 'Seats', ' Car_price '],
      dtype='object')

In [23]:
# Get a concise summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No                 6019 non-null   int64
 1   Name               6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Use                6019 non-null   object
 7   Engine             5983 non-null   object
 8   Power              5983 non-null   object
 9   Seats              5977 non-null   float64
 10   Car_price         6019 non-null   float64
dtypes: float64(2), int64(3), object(6)
memory usage: 517.4+ KB

In [24]:
# Get descriptive statistics
statistics = df.describe()
print(statistics)

                No         Year  Kilometers_Driven        Seats    Car_price
count  6019.000000  6019.000000       6.019000e+03  5977.000000  6.019000e+03
mean   3009.000000  2013.358199       5.873838e+04     5.278735  1.583071e+06
std    1737.679967     3.269742       9.126884e+04     0.808840  1.868382e+06
min       0.000000  1998.000000       1.710000e+02     0.000000  7.348000e+04
25%    1504.500000  2011.000000       3.400000e+04     5.000000  5.845000e+05
50%    3009.000000  2014.000000       5.300000e+04     5.000000  9.418800e+05
75%    4513.500000  2016.000000       7.300000e+04     5.000000  1.661650e+06
max    6018.000000  2019.000000       6.500000e+06    10.000000  2.672000e+07

## Checking and Handling Duplicates

In [ ]:
#Identify Duplicates

In [27]:
# Check for duplicates
duplicates = df.duplicated()
print(f"Total duplicate rows: {duplicates.sum()}")

Total duplicate rows: 0

This step verifies that there are no duplicate rows in the dataset, indicating that all records are unique based on the columns we've checked. With 0 duplicates identified, we can confidently move forward by checking for possible identical vehicles based on fewer columns. We can do this by comparing data based on features with as much available important features as possible.

In [29]:
df.isnull().sum()

No                    0
Name                  0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Use                   0
Engine               36
Power                36
Seats                42
 Car_price            0
dtype: int64

We filter out duplicate listings by focusing on values that increase the likelihood of uniqueness. This approach helps minimize errors that could arise from using a single feature incorrectly.