In [1]:
import pandas as pd

In [5]:
df = pd.read_excel("car_data.xlsx")
df.head()

,No,Name,Year,Kilometers_Driven,Fuel_Type,Transmission,Use,Engine,Power,Seats,Car_price
0,0,Maruti Wagon R LXI CNG,2010,72000,CNG,Manual,foreign,998 CC,58.16 bhp,5.0,292250.0
1,1,Hyundai Creta 1.6 CRDi SX Option,2015,41000,Diesel,Manual,foreign,1582 CC,126.2 bhp,5.0,2087500.0
2,2,Honda Jazz V,2011,46000,Petrol,Manual,foreign,1199 CC,88.7 bhp,5.0,751500.0
3,3,Maruti Ertiga VDI,2012,87000,Diesel,Manual,foreign,1248 CC,88.76 bhp,7.0,1002000.0
4,4,Audi A4 New 2.0 TDI Multitronic,2013,40670,Diesel,Automatic,local,1968 CC,140.8 bhp,5.0,2962580.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No                 6019 non-null   int64
 1   Name               6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Use                6019 non-null   object
 7   Engine             5983 non-null   object
 8   Power              5983 non-null   object
 9   Seats              5977 non-null   float64
 10   Car_price         6019 non-null   float64
dtypes: float64(2), int64(3), object(6)
memory usage: 517.4+ KB

In [9]:
df.describe()

                No         Year  Kilometers_Driven        Seats    Car_price
count  6019.000000  6019.000000       6.019000e+03  5977.000000  6.019000e+03
mean   3009.000000  2013.358199       5.873838e+04     5.278735  1.583071e+06
std    1737.679967     3.269742       9.126884e+04     0.808840  1.868382e+06
min       0.000000  1998.000000       1.710000e+02     0.000000  7.348000e+04
25%    1504.500000  2011.000000       3.400000e+04     5.000000  5.845000e+05
50%    3009.000000  2014.000000       5.300000e+04     5.000000  9.418800e+05
75%    4513.500000  2016.000000       7.300000e+04     5.000000  1.661650e+06
max    6018.000000  2019.000000       6.500000e+06    10.000000  2.672000e+07